<li>
	{{name}}

	<button class="change-devour btn btn-dark" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}DELETE!{{/if}}
	</button>

	<button class="delete-burger btn btn-dark" data-id="{{this.id}}">DELETE!</button>
</li>
